body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size:50px;
}
.orange-highlight{
    color: orange;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banar{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 450px;
    padding-bottom: 75px;
}
.link-button{
    text-decoration: none;
    color: white;
    padding:10px;
    background-image: linear-gradient(green,red);
    border-radius: 10px 20px;
    font-weight: bold;
}
h2{
    font-size: 40px;
}
p{
    color:dimgray;
}
.dream-area{
    
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-expericnce{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
    border-radius: 5px;
}
.expericnce-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position:left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,red,green);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 15px;
}